
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}
:root {
    --color-key: rgb(17, 17, 49);
    --color-key-hover: #586fcad2;
    --color-key-modificator: #353536;
    --background-color-key-active: #091212;
}
body {
    color:white;
}
.textarea {
    width: 100%;
    height: 200px;
    resize: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-family: inherit;
}
.container {
    width: 1000px;
    margin: 0 auto;
}
.keyboards {
    width: 1000px;
    font-size: 22px;
}
.row-1, 
.row-2, 
.row-3, 
.row-4, 
.row-5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.key {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    background-color: var(--color-key);
    margin: 6px;
    border-radius: 5px;
    text-align: center;
    padding: 17px 0;
    cursor: pointer;
    transition: background-color 0.6s;
    z-index: 1;
}
.key:hover {
    background-color: var(--color-key-hover);
}
.control-key {
    background-color: var(--color-key-modificator);
}
.control-key:hover {
    background-color: var(--background-color-key-active);
}
.key:active {
    top: 3px;
    left: 1px;
}
.active {
    top: 3px;
    left: 1px;
    background-color: var(--color-key-hover);
}
.active-background {
    background-color: var(--background-color-key-active);
}
.capslock-active {
    color: var(--color-key-hover);
}
.space {
    width: 490px;
}
.centr {
    width: 130px;
}
.addition {
    text-align: center;
    color:red
}